<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="devscripts" translate="label" sortOrder="300">
            <label>DevScripts</label>
        </tab>
        <section id="signup_disable" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Customer Signup Disable</label>
            <tab>devscripts</tab>
            <resource>DevScripts_SignupDisable::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Disable Customer Registration</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_login_button" translate="label" type="select" sortOrder="20"
                    showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Login Button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="show_home_button" translate="label" type="select" sortOrder="30"
                    showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Home Button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="message" translate="label" type="textarea" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Frontend Message</label>
                </field>
            </group>
        </section>
    </system>
</config>
